<div class='comment'>
<div class='comment-content'><%= comment.content %></div>
<span class='commenter'><%= link_to comment.user.username, user_path(comment.user) %></span>
<span class='commenter'>commented on: <%= comment.created_at.strftime("%Y %m %d")%></span>
</div>