<h2>Edit your avatar</h2>

<%= form_for :user, url: "/users/#{@user.id}", method: 'patch' do |f| %>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar, placeholder: 'enter image url here', autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
