<div class="single-game">

<%= render partial: 'games/votes', locals: {game: game} %>

<div class="game-box">
	<%= link_to game.title, game_path(game) %>
</div>

</div>
<!-- <p> Description: <%=game.description%> </p> -->
