<h1> <%= @game.title %> </h1>


<% if user_logged_in? %>
  <%= render partial: "ownership", locals: {owned_game: @game, ownership: @game.ownerships.find_by(owner: current_user)} %>
<% end %>


<h3> Description: <%= @game.description %></h3>






