
* {
	font-family: 'Raleway', sans-serif;
}

html {
	background: linear-gradient(#DEF7FF, #BABABA);
}


#title {
	font-family: 'Amatica SC', cursive;
	font-weight: bolder;
	text-align: center;
	height: 300px;
	line-height: 300px;
	font-size: 7em;
	color: white;
	background: black;
	background-position: center;
	background-repeat: no-repeat;
	background-image: image-url('j-snow.png');
}

#main-container {
	padding-right: 20%;
	padding-left: 20%;
	margin: auto;
}

#desc-field {
	width: 400px;
	height: 100px;

}

nav {
	padding-right: 20%;
	padding-left: 20%;
	height: 2em;
}

.single-game {
	display: flex;
	align-items: center;
	height: 70px;
	padding: 5px;
	margin: 10px;
	margin-left: 5%;
	margin-right: 5%;
	background: linear-gradient(#BAE6F5, #A1C9D6);
	border: 1px white solid;
	box-shadow: 7px 6px 1px -1px rgba(0,0,0,0.75);
}

.add-game {
	text-align: center;
	padding: 5px;
	margin: 5px;
	margin-left: 5%;
	margin-right: 5%;
	background: linear-gradient(#BAE6F5, #A1C9D6);
	border: 1px white solid;
	box-shadow: 7px 6px 1px -1px rgba(0,0,0,0.75);
}


.votes-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.vote-disabled {
	visibility: hidden;
}

.vote-neutral {
	opacity: .5;
}

.vote-selected {
	opacity: 1;
}

.error {
	font-size: .8em;
	color: red;
}


.mid-content-box {
	/*display: flex;*/
	align-items: center;
	padding: 0 15px;
	margin: 10px;
	margin-left: 5%;
	margin-right: 5%;
	background: linear-gradient(#BAE6F5, #A1C9D6);
	border: 1px white solid;
	box-shadow: 7px 6px 1px -1px rgba(0,0,0,0.75);
}

h3 {
	letter-spacing: .5em;
}

.friend-requests {
	/*display: flex;*/
	align-items: center;
	padding: 0 15px;
	margin: 10px;
	margin-left: 5%;
	margin-right: 5%;
	background: linear-gradient(#BAE6F5, #A1C9D6);
	border: 1px white solid;
	box-shadow: 7px 6px 1px -1px rgba(0,0,0,0.75);
}

.inline-span {
	display: inline-block;
	margin-right: 10px;
}

.friend-request {
	letter-spacing: 0;
	margin: 0 5%;
	padding: 5px;
	background: #5894A8;
	border: 1px white solid;
}

.default_image {
	height: 20em;
	width: 20em;
	align-items: center;
	padding: 0 15px;
	margin: 10px;
	margin-left: 5%;
	margin-right: 5%;
}
